.stats{
    display: flex;
    align-items: center;
    gap: 72px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F5F7FA;
}
.stats-text{
    width: 50%;
}
.stats-text h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 8px;
}

.stats-text p{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
}

.line:last-child{
    display: none;
}


.line{
    height: 75px;
    width: 5px;
    border-radius: 4px;
    color: #18191F;
}


.stat{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    
}



.stat p{
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    white-space: nowrap;
}

.main-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.icon-stats * {
    color: #EDBE38 !important;
}

@media screen and (max-width: 750px) {
    .stats{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .stats-text{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .stats-text{
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {

    .main-stats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    .stat{
        flex-direction: column;
        gap: 0;
        width: 100%;
        border-radius: 4px;
        text-align: center;
    }
    
}